@import "shared/colors";

@import "main/base";
@import "main/navbar";
@import "main/sidebar";
@import "main/hero";
@import "main/breadcrumbs";
@import "main/cards";
@import "main/tags";
@import "main/footer";
@import "main/tables";
@import "main/switches";
@import "main/alerts";
@import "main/darkmode";
@import "main/scrolling";
@import "main/utilities";
