.dub
docs.json
__dummy.html
examples/dev/
arturo
test
_cache/*.cpp
_cache/*.c
_cache/*.h
_cache/*.deps
_cache/*.sh
_cache/*.json
_cache/
docs/
/arturo
/test.d
#/test
/scripts/update_build_number.awk
arturo.so
arturo.dylib
arturo.dll
arturo.a
libarturo.a
arturo.lib
arturo-test-*
*.exe
*.o
*.obj
*.lst
*.db
trace.*
*.profraw
profile_results.txt
luac.out
_legacy/
_extras/
experimental
/src/experimental.nim