/*bin/*
!/bin/placeholder
/.cache
.unitt/
/test*.*
.sass-cache
benchmark_results*
profile_results.txt
*.icloud
arturo.png
arturo.dot
testrb
teststore
tmpdocs/*
dev-docs/*
.vscode/*

docs/website/data/*.art
docs/website/pages/documentation/library/**/*.art
!docs/website/pages/documentation/library/**/_index.art