/*bin/*
!/bin/placeholder
/.cache
/test*.*
.sass-cache
benchmark_results*
profile_results.txt
*.icloud
arturo.png
arturo.dot
testrb
teststore
dev-docs/*
.vscode/*

# Ignore all .art files in the library directory and subdirectories
docs/website/pages/documentation/library/**/*.art

# But don't ignore _index.art files
!docs/website/pages/documentation/library/**/_index.art