.breadcrumb {
    a {
        padding: 0;
        margin: 0 .75em;
    }
}

li.source-link {
    margin-left: auto !important;

    a {
        color: #BBBBBB !important;
        font-weight: bold !important;

        &:hover {
            color: #363636 !important;
            font-weight: bold !important;
            border-bottom: 0 !important;
        }
    }

    &:before {
        content: '' !important;
    }
}
