.sidebar {
    background:$sidebarHighlight; 
    padding-right:0px !important;
    position: sticky;
    height: calc(100vh - 40px); 
    overflow-y:auto;
    top: 40px;
    bottom: 0;

    &::-webkit-scrollbar {
        width: 2px;
    }
     
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
     
    &::-webkit-scrollbar-thumb {
        background-color:$main-purple;
        outline: 1px solid $main-purple;
    }

    .menu-list {
        li ul {
            border-left: 1px solid #bbbbbb;
        }

        a {
            border-radius: 10px 0px 0px 10px;
            color: $sidebarFg;
        
            &.is-active {
                background-color: $sidebarWhite;
                color: $sidebarFront;
            }

            &:not(.is-active):hover {
                background-color:darken($sidebarHighlight, 2%);
                color: darken($sidebarFg, 10%);
            }

            &:hover {
                border-bottom: 0;
            }
        }
    }
}

.exampleletter {
    font-size: 2rem;
    display: block;
    list-style: none;
    background: #363636;
    color: #E7E7E7;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
