hr {
    height: 10px;
}

pre[class*=language-] {
    position: relative;
    overflow: visible;

    .copy {
        content: "copy";
        padding: 2px 10px 0;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-10px, -90%);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: #CCC;
        background: #272822;
        cursor: pointer;
        font-size: 0.8em;

        &:hover {
            color: #fff;
            text-align: center;
            -webkit-animation: glow 1s ease-in-out infinite alternate;
            -moz-animation: glow 1s ease-in-out infinite alternate;
            animation: glow 1s ease-in-out infinite alternate;
        }
    }

    &:hover .copy {
        transform: translate(-10px, -100%);
    }
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff;
    }
    to {
        text-shadow: 0 0 20px #fff;
    }
}

code[class*=language-], pre[class*=language-] {
    white-space: pre-wrap; 
}

@media (max-width: 768px) {
    .is-grouped-multiline {
        justify-content: center !important;
    }
}

#navbarMain {
    font-weight: 500;
}
 
.highlight {
    font-weight: 500;
    color: hsl(348, 100%, 61%);

    &.dark {
        font-weight: 500;
        color: #FFF; 
        background: hsl(348, 100%, 61%);
        border-radius: 6px;
        padding: 1px 4px 2px 4px;
    }

    &.green {
        color: limegreen;
    }

    &.purple {
        color: $main-purple;

        &.dark {
            color: #FFF;
            background: $main-purple;
        }
    }
    
    &.blue {
        color: #0074d9;

        &.dark {
            color: #FFF;
            background: #0074d9;
        }
    }
}

.terminal {
    position: relative;
    border-radius: 10px;
    background-color:#000;
    color:#EEE;
    padding:1.25em;
    padding-bottom:0.25em;
    margin-bottom:1em;

    font-family: 'Fira Code Arturo', monospace !important;

    .line {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .path {
        color: #0fc;
    }

    .prompt {
        color:#3f3;
        font-weight:700
    }

    .out {
        color:#bbb;
        font-weight:500
    }

    .comment {
        color:#888;
        font-style: italic;
    }

    code {
        font-family: 'Fira Code Arturo', monospace !important;
        color: white;
        background-color: inherit;
    }

    &:before {
        content:"";
        position:absolute;
        border-radius:50%;
        background:#fc635d;
        width:12px;
        height:12px;
        top:12px;
        left:12px;
        box-shadow:20px 0 0 #fdbc40,40px 0 0 #35cd4b
    }
}

.content.has-text-justified {
    line-height: 1.7;
}

.inline-download {
    font-weight:700;
    color: #6a156b !important;
    border-bottom: 1px solid #6a156b !important;
    transition: all 0.2s ease;

    &:hover {
        background-color: #6a156b;
        color: white !important;
        border-radius: 3px;
        padding: 0 2px;
    }
}
