@font-face {
    font-family: "Fira Code Arturo";
    src: url('../fonts/FiraCode-Regular.ttf') format('truetype');
}

main {
    height: calc(100vh - 52px);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.doccols {
    position: relative;
    height: 100%;
    margin: 0 !important;
    padding: 0;
    display: flex;
    flex-direction: column; // Default vertical layout
    
    .column {
        margin: 0;
        padding: 0;
        position: relative;
    }
    
    // Vertical layout (default)
    &:not(.horizontal) {
        flex-direction: column;
        
        .column {
            width: 100%;
        }
        
        .resize-handle {
            cursor: row-resize;
            width: 100%;
            height: 4px;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    
    // Horizontal layout (expanded)
    &.horizontal {
        flex-direction: row;
        
        .column {
            height: 100%;
        }
        
        .resize-handle {
            cursor: col-resize;
            width: 4px;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    
    @media (max-width: 768px) {
        flex-direction: column;
        
        .column {
            flex: none !important;
            width: 100% !important;
            height: 50% !important;
        }
        
        .resize-handle {
            display: none;
        }
    }
}

.resize-handle {
    position: absolute;
    background: #4e4d42;
    z-index: 100;
    transition: background 0.2s;
    
    &:hover {
        background: #5e5d52;
    }
    
    &.resizing {
        background: #6e6d62;
    }
    
    @media (max-width: 768px) {
        display: none;
    }
}