.tabs {
    margin-bottom: 10px !important;

    ul {
        border-bottom-color: #6b6b6b;
    }
    
    li {
        a {
            padding: .5em .75em;
        }

        &.is-active {
            a {
                border-bottom-color: #667eea;
                color: #667eea;
            }
        }

        a {
            border-bottom-color: #dbdbdb;
            color: #7a7a7a;
            
            &:hover {
                border-bottom-color: #b5b5b5;
                color: #363636;
            }
        }
    }
}