.tabs {
    margin-bottom: 10px !important;

    ul {
        border-bottom-color: #6b6b6b;
    }
    
    li {
        a {
            padding: .5em .75em;
        }

        // &.is-active {
        //     a {
        //         border-bottom-color: #20d929;
        //         color: #20d929;
        //     }
        // }

        &.left-tab-item {
            a {
                border-bottom-color: #6b6b6b;
                color: #ababab;
            }

            &.disabled {
                a {
                    color: #6b6b6b;
                    cursor: default;
                }
            }

            &:not(.disabled):hover {
                a {
                    color: #20d929;
                }
            }
        }
    }
}
