.tabs {
    margin-bottom: 10px !important;

    ul {
        border-bottom-color: #6b6b6b;
    }
    
    li {
        &.is-active {
            a {
                border-bottom-color: #20d929;
                color: #20d929;
            }
        }

        &.extra-item {
            a {
                border-bottom-color: #6b6b6b;
                color: #6b6b6b;
                
                &:hover {
                    color: #ababab;
                }
            }
        }
    }
}
