$main-purple: #6a156b;
$purple-fade: #580059;

$dark-purple: #1f0620;
$dark-purple2: #3f0c40;

$dark-fg: #EEE;
$dark-fg2: #BAB;

$sidebarHighlight: #E7E7E7;
$sidebarFg: black;
$sidebarFront: $main-purple;
$sidebarWhite: white;