name: Auto-increment build number

on:
    pull_request_target:
        types:
            - closed
        branches:
            - master
        
jobs:
    increment-build:
        if: github.event.pull_request.merged == true
        runs-on: ubuntu-latest
        permissions:
            contents: write
    
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
              with:
                ref: master
                fetch-depth: 0
                token: ${{ secrets.PAT_TOKEN }}
      
            - name: Configure Git
              run: |
                git config user.name "GitHub Actions Bot"
                git config user.email "actions@github.com"
      
            - name: Increment build number
              run: |
                # Read current build number
                current_build=$(cat version/build)
                
                # Increment it
                new_build=$((current_build + 1))
                
                # Update file
                echo $new_build > version/build
                
                # Commit and push
                git add version/build
                git commit -m "Update build"
                git push origin master