name: "CI"

on:
    push:
        branches:
            - 'master'
        tags-ignore:
            - '**'
    pull_request:
        paths-ignore:
            - 'docs/*'
            - '*.yml'
            - '*.md'
            - 'LICENSE'

concurrency: 
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    Test:
        runs-on: ${{ 
            (matrix.os == 'linux')   && (matrix.support == 'legacy' && (matrix.arch == 'arm64' && 'ubuntu-22.04-arm' || 'ubuntu-22.04') || matrix.arch == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-latest') ||
            (matrix.os == 'macos')   && (matrix.arch == 'arm64' && 'macos-latest' || 'macOS-15-intel') ||
            (matrix.os == 'windows') && 'windows-latest' || 
                                        'ubuntu-latest'  }}
                                                                   
        strategy:
            matrix:
                include: 
                    - {os: linux,   arch: amd64}
                    - {os: linux,   arch: amd64,    support: legacy}
                    - {os: linux,   arch: amd64,    mode: safe}
                    - {os: linux,   arch: amd64,    mode: mini}
                    - {os: linux,   arch: arm64}
                    - {os: linux,   arch: arm64,    support: legacy}
                    - {os: linux,   arch: arm64,    mode: mini}
                    - {os: freebsd, arch: amd64}
                    - {os: freebsd, arch: amd64,    mode: mini}
                    - {os: macos,   arch: amd64}
                    - {os: macos,   arch: amd64,    mode: mini}
                    - {os: macos,   arch: arm64}
                    - {os: macos,   arch: arm64,    mode: mini}
                    - {os: windows, arch: amd64}
                    - {os: windows, arch: amd64,    mode: mini}
                    - {os: web,     arch: js,       mode: mini}
 
        defaults:
            run:
                shell: ${{ 
                    (matrix.os == 'freebsd') && 'freebsd {0}' ||
                    (matrix.os == 'windows') && 'msys2 {0}'   || 
                                                'bash'        }}

        steps:
            - name: Checkout Arturo sources for testing
              uses: actions/checkout@v4
              with:
                submodules: recursive
                path: arturo
                ref: ${{ github.ref }}

            - name: Prepare artifact version
              id: version
              shell: bash
              run: |
                cd arturo
                git_hash=$(git rev-parse --short HEAD)
                
                if [ "${{ github.event_name }}" = "pull_request" ]; then
                    version="pr${{ github.event.pull_request.number }}.${git_hash}"
                else
                    version="${{ github.ref_name }}.${git_hash}"
                fi
                
                echo "VERSION=$version" >> "$GITHUB_OUTPUT"
                echo "Building version: $version"

            - name: Install Arturo
              uses: arturo-lang/arturo-action@main
              with: 
                token: ${{ secrets.GITHUB_TOKEN }}
                os: ${{ matrix.os }}
                arch: ${{ matrix.arch }}
                mode: ${{ matrix.mode }}
                support: ${{ matrix.support }}
                src: ${{ github.ref }}
                metadata: ${{ steps.version.outputs.VERSION }}
                create_artifact: 'true'
                artifact_version: ${{ steps.version.outputs.VERSION }}

            - if: env.arturoCanRun == 'true'
              name: Run tests
              run: |
                cd $GITHUB_WORKSPACE/arturo 
                arturo -v
                arturo tools/tester.art

                if [ "${{ matrix.mode }}" = "full" ]; then
                    arturo -p install unitt
                    arturo tools/unitt-tester.art
                fi