name: "CI"

on:
    push:
        branches:
            - 'master'
        tags-ignore:
            - '**'
    pull_request:
        paths-ignore:
            - 'docs/*'
            - '*.yml'
            - '*.md'
            - 'LICENSE'
 
concurrency: 
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

env:
    BRANCH_NAME: ${{ github.head_ref || github.ref_name }} 

jobs:
    test:
        runs-on: ${{ (matrix.os == 'linux' && matrix.webkit == '41' && 'ubuntu-latest') || (matrix.os == 'linux' && 'ubuntu-22.04') || (matrix.os == 'windows' && 'windows-latest') || (matrix.os == 'macos' && matrix.arch == 'arm64' && 'macos-latest') || (matrix.os == 'macos' && 'macOS-15-intel') || 'ubuntu-latest' }}
        strategy:
            matrix:
                include: 
                    - {os: linux,   arch: amd64, mode: full}
                    - {os: linux,   arch: amd64, mode: full, webkit: "41"}
                    - {os: linux,   arch: amd64, mode: safe}
                    - {os: linux,   arch: amd64, mode: mini}
                    - {os: linux,   arch: arm64, mode: mini}
                    - {os: web}
                    - {os: windows, arch: amd64, mode: full}
                    - {os: windows, arch: amd64, mode: mini}
                    - {os: macos,   arch: amd64, mode: full}
                    - {os: macos,   arch: amd64, mode: mini}
                    - {os: macos,   arch: arm64, mode: full}
                    - {os: macos,   arch: amd64, mode: mini}
                    - {os: freebsd, arch: amd64, mode: mini}
                    - {os: freebsd, arch: amd64, mode: full}
                    - {os: freebsd, arch: amd64, mode: full, webkit: "41"}

        defaults:
            run:
                shell: ${{ 
                    (matrix.os == 'freebsd') && 'freebsd {0}' ||
                    (matrix.os == 'windows') && 'msys2 {0}'   || 
                                                'bash'        }}
 
        name: ${{ matrix.name }}
        steps:
            - name: Install Arturo
              uses: arturo-lang/arturo-action@main
              with: 
                token:      ${{ secrets.GITHUB_TOKEN }}
                os:         ${{ matrix.os }}
                arch:       ${{ matrix.arch || 'amd64' }}
                mode:       ${{ matrix.mode || 'mini' }}
                webkit:     ${{ matrix.webkit || '40' }}
                src:        ${{ github.ref }}
                metadata:   ${{ env.BRANCH_NAME }}-${{ github.sha }}

            - name: Checkout Arturo sources for testing
              uses: actions/checkout@v4
              with:
                submodules: recursive
                path: arturo
                ref: ${{ github.ref }}

            - if: (matrix.mode != 'safe' && matrix.os != 'web') && !(matrix.os == 'linux' && matrix.arch == 'arm64')
              name: Run tests / old
              run: |
                cd arturo 
                arturo -v
                arturo tools/tester.art
                cd ..
 
            - if: matrix.mode == 'full' && !(matrix.os == 'linux' && matrix.arch == 'arm64')
              name: Run tests / unitt
              run: |
                cd arturo
                arturo -p install unitt
                arturo tools/unitt-tester.art
                cd ..

            - name: Prepare artifact
              id: artifact-details
              run: |
                artifact_os="${{matrix.os}}"
                artifact_os_extra=""
                artifact_arch="${{matrix.arch}}"
                artifact_mode="${{matrix.mode}}"
                webkit="${{matrix.webkit}}"
                
                # Defaults for web
                if [ "$artifact_os" = "web" ]; then
                    artifact_arch="web"
                    artifact_mode="mini"
                    artifact_os="js"
                fi
                
                # Defaults for missing values
                [ -z "$artifact_arch" ] && artifact_arch="amd64"
                [ -z "$artifact_mode" ] && artifact_mode="mini"
                [ -z "$webkit" ] && webkit="40"

                # Webkit suffix for Linux/FreeBSD full builds
                if [ "${{matrix.os}}" = "linux" ] || [ "${{matrix.os}}" = "freebsd" ]; then
                    if [ "$artifact_mode" = "full" ]; then
                        artifact_os_extra=".webkit${webkit}"
                    fi
                fi

                cd arturo
                git_hash=$(git rev-parse --short "$GITHUB_SHA")
                git_stamp="${{ env.BRANCH_NAME}}.${git_hash}"
                cd ..

                artifact_name="arturo-${git_stamp}-${artifact_arch}-${artifact_os}${artifact_os_extra}-${artifact_mode}"

                echo "ARTIFACT_NAME=$artifact_name" >> "$GITHUB_OUTPUT"

            - name: Upload artifact
              uses: 'actions/upload-artifact@v4'
              with:
                name: ${{ steps.artifact-details.outputs.ARTIFACT_NAME }}
                path: .arturo-dist/*