name: "CI"

on:
    push:
        branches:
            - 'master'
        tags-ignore:
            - '**'
    pull_request:
        paths-ignore:
            - 'docs/*'
            - '*.yml'
            - '*.md'
            - 'LICENSE'
 
concurrency: 
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

env:
    BRANCH_NAME: ${{ github.head_ref || github.ref_name }} 

jobs:
    test:
        runs-on: ${{ (matrix.os == 'linux' && matrix.webkit == '41' && 'ubuntu-latest') || (matrix.os == 'linux' && 'ubuntu-22.04') || (matrix.os == 'windows' && 'windows-latest') || (matrix.os == 'macos' && matrix.arch == 'arm64' && 'macos-latest') || (matrix.os == 'macos' && 'macOS-15-intel') || 'ubuntu-latest' }}
        strategy:
            matrix:
                include: 
                    - {name: "Linux (amd64 / full / webkit-4.0)",   os: linux,   arch: amd64, mode: full}
                    - {name: "Linux (amd64 / full / webkit-4.1)",   os: linux,   arch: amd64, mode: full, webkit: "41"}
                    - {name: "Linux (amd64 / safe)",                os: linux,   arch: amd64, mode: safe}
                    - {name: "Linux (amd64 / mini)",                os: linux,   arch: amd64, mode: mini}
                    - {name: "Linux (arm64 / mini)",                os: linux,   arch: arm64, mode: mini}
                    - {name: "JS (web / mini)",                     os: web}
                    #- {name: "Windows (amd64 / full)",              os: windows, arch: amd64, mode: full}
                    #- {name: "Windows (amd64 / mini)",              os: windows, arch: amd64, mode: mini}
                    - {name: "macOS (amd64 / full)",                os: macos,   arch: amd64, mode: full}
                    - {name: "macOS (amd64 / mini)",                os: macos,   arch: amd64, mode: mini}
                    - {name: "macOS (arm64 / full)",                os: macos,   arch: arm64, mode: full}
                    - {name: "macOS (arm64 / mini)",                os: macos,   arch: arm64, mode: mini}
                    - {name: "FreeBSD (amd64 / mini)",              os: freebsd, arch: amd64, mode: mini}
                    - {name: "FreeBSD (amd64 / full / webkit-4.0)", os: freebsd, arch: amd64, mode: full}
                    - {name: "FreeBSD (amd64 / full / webkit-4.1)", os: freebsd, arch: amd64, mode: full, webkit: "41"}
 
        name: ${{ matrix.name }}
        steps:
            - name: Install Arturo
              uses: arturo-lang/arturo-action@main
              with: 
                token: ${{ secrets.GITHUB_TOKEN }}
                os: ${{ matrix.os }}
                arch: ${{ matrix.arch || 'amd64' }}
                mode: ${{ matrix.mode || 'mini' }}
                webkit: ${{ matrix.webkit || '40' }}
                src: ${{ github.ref }}
                metadata: ${{ env.BRANCH_NAME }}-${{ github.sha }}
 
            - if: (matrix.mode != 'safe' && matrix.os != 'web') && (matrix.os != 'freebsd' && !(matrix.os == 'linux' && matrix.arch == 'arm64'))
              name: Run tests (Old)
              run: |
                ls -la arturo
                cd arturo 
                cat version/metadata
                arturo -v
                arturo tools/tester.art
                cd ..
 
            - if: matrix.mode == 'full' && (matrix.os != 'freebsd' && !(matrix.os == 'linux' && matrix.arch == 'arm64'))
              name: Run tests (Unitt)
              run: |
                cd arturo
                arturo -p install unitt
                arturo tools/unitt-tester.art
                cd ..

            - name: Prepare artifact
              id: artifact-details
              run: |
                binary_path="arturo/bin/arturo"

                artifact_os="${{matrix.os}}"
                artifact_os_extra=""
                artifact_arch="${{matrix.arch}}"
                artifact_mode="${{matrix.mode}}"
                webkit="${{matrix.webkit}}"
                
                # Apply defaults for web
                if [ "$artifact_os" = "web" ]; then
                    artifact_arch="web"
                    artifact_mode="mini"
                fi
                
                # Apply defaults for missing values
                [ -z "$artifact_arch" ] && artifact_arch="amd64"
                [ -z "$artifact_mode" ] && artifact_mode="mini"
                [ -z "$webkit" ] && webkit="40"

                if [ "${{matrix.os}}" = "windows" ]; then
                    binary_path="${binary_path}.exe"
                elif [ "${{matrix.os}}" = "web" ]; then
                    artifact_os="js"
                    binary_path="${binary_path}.js"
                fi

                if [ "${{matrix.os}}" = "linux" ] || [ "${{matrix.os}}" = "freebsd" ]; then
                    if [ "$artifact_mode" = "full" ]; then
                        artifact_os_extra=".webkit${webkit}"
                    fi
                fi

                cd arturo
                git_hash=$(git rev-parse --short "$GITHUB_SHA")
                git_stamp="${{ env.BRANCH_NAME}}.${git_hash}"
                cd ..

                artifact_name="arturo-${git_stamp}-${artifact_arch}-${artifact_os}${artifact_os_extra}-${artifact_mode}"

                echo "BINARY_PATH=$binary_path" >> "$GITHUB_OUTPUT"
                echo "ARTIFACT_NAME=$artifact_name" >> "$GITHUB_OUTPUT"

            - name: Upload artifact
              uses: 'actions/upload-artifact@v4'
              with:
                name: ${{ steps.artifact-details.outputs.ARTIFACT_NAME }}
                path: ${{ steps.artifact-details.outputs.BINARY_PATH }}
