name: Documentation

on:
    pull_request_target:
        types:
            - closed
        branches:
            - master
      
concurrency: 
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

env:
    BRANCH_NAME: ${{ github.head_ref || github.ref_name }} 

jobs:
    docgen:
        runs-on: ubuntu-latest
        name: Generator
        defaults:
            run:
                shell: bash
        steps:
            - name: Install Arturo
              uses: arturo-lang/arturo-action@main
              with: 
                token: ${{ secrets.GITHUB_TOKEN }}
                mode: docgen
                arch: amd64
                src: ${{ github.ref }}
                metadata: ${{ env.BRANCH_NAME }}-${{ github.sha }}

            - name: "Install Node"
              uses: actions/setup-node@v4
              with:
                node-version: latest

            - name: "Install build dependencies"
              run: |
                sudo apt-get update
                sudo apt-get install -y build-essential libcmocka-dev

            - name: "Install Ruby"
              uses: ruby/setup-ruby@v1
              with:
                ruby-version: 3.3
                bundler-cache: true
        
            - name: "Install gems"
              run: |
                gem install commonmarker -v "2.1.0" --platform=ruby

            - name: "Install prerequisites"
              run: |
                sudo apt-get update
                sudo apt-get install webp 
                sudo npm install -g sass uglify-js
 
            - name: "Generate website"
              run: |
                ls -la arturo
                cd arturo 
                arturo tools/sitegen.art
                echo "#[release?: false]" > docs/website/data/setup.art
                mkdir tmpdocs
                cd docs/website
                arturo ../../tools/miniwebize/webize.art --build --at: ../../tmpdocs
                cd ../..
                arturo tools/genaiguide.art
                mv tools/aiguide.md tmpdocs/llms.txt

            - name: Synchronize
              uses: burnett01/rsync-deployments@7.0.2
              with:
                switches: -avzr --delete
                path: arturo/tmpdocs/
                remote_path: /var/www/arturo-lang.io/master
                remote_host: arturo-lang.io
                remote_user: root
                remote_key: ${{ secrets.ARTUROLANG }}

            - name: Upload artifact
              uses: 'actions/upload-artifact@v4'
              with:
                name: tmpdocs
                path: arturo/tmpdocs
