name: "Linux"
on:
  push:
    branches:
      - 'master'
    tags-ignore:
      - '**'
  pull_request:
    paths-ignore:
      - 'docs/*'
      - '*.yml'
      - '*.md'
      - 'LICENSE'

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash -l {0}

jobs:  
  build:
    name: "Build & Test"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
        version:
          - mini
          - full
          - safe
        arch:
          - x86
          - x86_64
          - arm
          - arm64
        exclude:
          - version: full
            arch: x86
          - version: full
            arch: arm
          - version: full
            arch: arm64
          - version: safe
            arch: x86
          - version: safe
            arch: arm
          - version: safe
            arch: arm64
    steps:
      - name: "Cancel similar actions in progress"
        uses: styfle/cancel-workflow-action@0.10.0
        with:
          all_but_latest: true
          access_token: ${{ github.token }}

      - name: "Checkout"
        uses: actions/checkout@main
        with:
          submodules: recursive

      - name: Get Date
        id: get-date
        run: echo "::set-output name=date::$(date "+%Y-%m-%d")"
        shell: bash

      - name: Cache ChooseNim
        id: cache-choosenim
        uses: actions/cache@v3
        with:
          path: ~/.choosenim
          key: ${{ matrix.os }}-choosenim-${{ steps.get-date.outputs.date }}

      - name: Cache Nimble
        id: cache-nimble
        uses: actions/cache@v3
        with:
          path: ~/.nimble
          key: ${{ matrix.os }}-nimble-${{ hashFiles('*.nimble') }}

      - name: Setup nim
        uses: jiro4989/setup-nim-action@v1
        with:
          nim-version: 'stable'

      - name: Install dependencies (mini / x86)
        if: matrix.version == 'mini' && matrix.arch != 'arm' && matrix.arch != 'arm64'
        run: |
          sudo apt-get update
          sudo apt-get install gcc-multilib g++-multilib

      - name: Install dependencies (mini / arm)
        if: matrix.version == 'mini' && (matrix.arch == 'arm' || matrix.arch == 'arm64')
        run: |
          sudo apt-get update
          sudo apt-get install gcc-arm-linux-gnueabihf gcc-aarch64-linux-gnu

      - name: Install dependencies (full)
        if: matrix.arch == 'x86_64' && (matrix.version == 'full' || matrix.version == 'safe')
        run: |
          sudo apt-get install libwebkit2gtk-4.0-dev libmpfr-dev
          
      - name: Verify dependecies
        run: |
          nim --version
          
      - name: Build Arturo (mini)
        if: matrix.version == 'mini'
        run: |
          echo "${{ github.workspace }}/bin" >> $GITHUB_PATH
          ./build.nims install ${{ matrix.version }} ${{ matrix.arch }} log

      - name: Build Arturo (full)
        if: matrix.arch == 'x86_64' && (matrix.version == 'full' || matrix.version == 'safe')
        run: |
          echo "${{ github.workspace }}/bin" >> $GITHUB_PATH
          ./build.nims install ${{ matrix.version }} log

      - name: Upload Artifacts (mini)
        if: matrix.version == 'mini'
        uses: 'actions/upload-artifact@v2'
        with:
          name: "arturo-${{matrix.version}}-${{matrix.arch}}-linux"
          path: bin/arturo

      - name: Upload Artifacts (full)
        if: matrix.version == 'full' && matrix.arch == 'x86_64'
        uses: 'actions/upload-artifact@v2'
        with:
          name: "arturo-${{matrix.version}}-x86_64-linux"
          path: bin/arturo

      - name: Run unit tests
        if: matrix.arch == 'x86_64' && (matrix.version == 'full' || matrix.version == 'mini')
        run: |
          echo "${{ github.workspace }}/bin" >> $GITHUB_PATH
          arturo tools/tester.art