name: Test Installer

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test-macos:
    strategy:
      matrix:
        os: 
          - macos-14          # M1 (ARM)
          - macos-15          # M1/M2 (ARM)
          - macos-15-intel    # Intel
          - macos-26          # M3 (ARM) - Beta
      fail-fast: false
    
    runs-on: ${{ matrix.os }}
    
    steps:
      - name: Install Arturo
        run: curl -sSL http://188.245.97.105/latest/tools/installer.sh | sh
      
      - name: Add to PATH and test
        run: |
          export PATH=$HOME/.arturo/bin:$PATH
          arturo -v
      
      - name: Show macOS version
        run: sw_vers