name: "TODO"
on:
  push:
    branches:
      - 'master'
    tags-ignore:
      - '**'
jobs:
  Generate:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@master"
      - name: "TODO to Issue generator"
        uses: "alstr/todo-to-issue-action@v4.13.3"
        id: "todo"
        with:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
          LANGUAGES: https://raw.githubusercontent.com/arturo-lang/arturo/master/.github/arturo_todo.json