name: "TODO -> Issue"
on:
  push:
    branches:
      - 'master'
    tags-ignore:
      - '**'
jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@master"
      - name: "TODO to Issue generator"
        uses: "alstr/todo-to-issue-action@v2.4.1"
        id: "todo"
        with:
          AUTO_P: false
          ISSUE_TEMPLATE: "**Description:**\n\n{{ body }}\n\n**Code:**\n\n{{ url }}\n\n{{ snippet }}"
          TOKEN: ${{ secrets.GITHUB_TOKEN }}