name: Windows
on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  pull_request:
    paths-ignore:
      - 'docs/*'
      - '*.yml'
      - '*.md'
      - 'LICENSE'

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: "Build & Test"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - windows-latest
        version:
          - mini
          - full
    steps:
      - name: "Cancel similar actions in progress"
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{ github.token }}

      - name: "Checkout"
        uses: actions/checkout@main
        with:
          submodules: recursive

      - uses: msys2/setup-msys2@v2
        with:
          update: true
          install: 'git base-devel'

      - name: Install dependencies + Build Arturo (full)
        if: matrix.version == 'full'
        shell: msys2 {0}
        run: |
          pacman --noconfirm -S p7zip mingw-w64-x86_64-toolchain mingw-w64-x86_64-mpfr
          mkdir dist
          mkdir nim
          curl -L https://nim-lang.org/download/dlls.zip -o dist/dlls.zip
          curl -L https://arturo-lang.s3.amazonaws.com/extra-dlls.zip -o dist/extradlls.zip
          curl -L https://nim-lang.org/download/nim-1.6.6_x64.zip -o dist/nim.zip
          7z x dist/dlls.zip -obin
          7z x dist/extradlls.zip -obin
          7z x dist/nim.zip -onim

          cp src/extras/webview/deps/dlls/x64/*.dll bin
          
          export PATH="${{ github.workspace }}/nim/nim-1.6.6/bin":$PATH

          nim --version

          ./build.nims install ${{ matrix.version }} log

      - name: Install dependencies + Build Arturo (mini)
        if: matrix.version == 'mini'
        shell: msys2 {0}
        run: |
          pacman --noconfirm -S p7zip mingw-w64-x86_64-toolchain
          mkdir dist
          mkdir nim
          curl -L https://nim-lang.org/download/dlls.zip -o dist/dlls.zip
          curl -L https://nim-lang.org/download/nim-1.6.6_x64.zip -o dist/nim.zip
          7z x dist/dlls.zip -obin
          7z x dist/nim.zip -onim
          
          export PATH="${{ github.workspace }}/nim/nim-1.6.6/bin":$PATH

          ./build.nims install ${{ matrix.version }} log

      - name: Run unit tests (full)
        if: matrix.version == 'full'
        shell: msys2 {0}
        run: |
          echo "${{ github.workspace }}/bin" >> $GITHUB_PATH
          ./bin/arturo tools/tester.art

      - name: Run unit tests (mini)
        if: matrix.version == 'mini'
        shell: msys2 {0}
        run: |
          echo "${{ github.workspace }}/bin" >> $GITHUB_PATH
          ./bin/arturo tools/tester.art

      - name: Create artifact (full)
        if: matrix.version == 'full'
        run: |
          mkdir arturo-${{matrix.version}}-${{matrix.os}}
          
          curl -L https://arturo-lang.s3.amazonaws.com/libcrypto-1_1-x64.dll -o libcrypto-1_1-x64.dll
          curl -L https://arturo-lang.s3.amazonaws.com/libssl-1_1-x64.dll -o libssl-1_1-x64.dll
          curl -L https://arturo-lang.s3.amazonaws.com/pcre64.dll -o pcre64.dll
          curl -L https://arturo-lang.s3.amazonaws.com/sqlite3_64.dll -o sqlite3_64.dll
          curl -L https://arturo-lang.s3.amazonaws.com/libgmp-10.dll -o libgmp-10.dll
          curl -L https://arturo-lang.s3.amazonaws.com/libmpfr-4.dll -o limpfr-4.dll
          
          cp *.dll arturo-${{matrix.version}}-${{matrix.os}}
          cp src/extras/webview/deps/dlls/x64/webview.dll arturo-${{matrix.version}}-${{matrix.os}}
          cp src/extras/webview/deps/dlls/x64/WebView2Loader.dll arturo-${{matrix.version}}-${{matrix.os}}

          cp bin/arturo.exe arturo-${{matrix.version}}-${{matrix.os}}
          cp *.dll arturo-${{matrix.version}}-${{matrix.os}}

      - name: Create artifact (mini)
        if: matrix.version == 'mini'
        run: |
          mkdir arturo-${{matrix.version}}-${{matrix.os}}
          
          curl -L https://arturo-lang.s3.amazonaws.com/libcrypto-1_1-x64.dll -o libcrypto-1_1-x64.dll
          curl -L https://arturo-lang.s3.amazonaws.com/libssl-1_1-x64.dll -o libssl-1_1-x64.dll
          curl -L https://arturo-lang.s3.amazonaws.com/pcre64.dll -o pcre64.dll

          cp *.dll arturo-${{matrix.version}}-${{matrix.os}}

          cp bin/arturo.exe arturo-${{matrix.version}}-${{matrix.os}}
          cp *.dll arturo-${{matrix.version}}-${{matrix.os}}

      - name: Upload Artifacts
        uses: 'actions/upload-artifact@v1'
        with:
          name: arturo-${{matrix.version}}-${{matrix.os}}
          path: arturo-${{matrix.version}}-${{matrix.os}}
